* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url(backgroundMobile.png) no-repeat;
  /* -webkit-background-size: fixed;
  -moz-background-size: fixed;
  -o-background-size: fixed; */
  background-size: 70vh;
  /* width: 100vw; */
}
body {
  width: 100vw;
}
.banner {
  text-align: center;
}
#logo {
  margin-top: 24px;
  width: 40px;
}
#name {
  color: #cfcfcf;
  font-family: helvetica;
  font-size: 24px;
  margin-top: 32px;
}
ul {
  display: flex;
  height: 10vh;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.098);
}
li {
  color: #cfcfcf;
  list-style: none;
  width: 25%;
  text-align: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* text-align: center; */
}
.car_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: rgba(5, 5, 5, 0.077);
  background-color: rgba(252, 252, 252, 0.05);
  /* border: red solid 1px; */
  height: 60vh;
  width: 90%;
  /* text-align: center; */
}
#model_name {
  display: block;
  margin: 20px 20px 40px 20px;

  font-size: 24px;
  color: #cfcfcf;
  font-family: helvetica;
}

.card_photo {
  width: 100%;
}
.card_specs {
  width: 90%;
  display: block;
  margin: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfcfcf;
}
