* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  min-width: 2000px;
  background-image: url(/pictures/background.jpg);
  background-attachment: fixed;
  background-size: 2600px;
}

#menu {
  min-width: 50%;

  position: fixed;
  top: 40px;
  right: 0px;

  height: 100px;
}
#logo {
  position: fixed;
  top: 20px;
  left: 40px;
  width: 100px;
}

ul {
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 100%;
}
li a {
  text-decoration: none;
  color: rgb(188, 188, 188);
}
li {
  display: block;
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 30px;
  list-style: none;
  margin: 0 50px 4px 50px;
  border-bottom: rgba(0, 0, 0, 0) solid 2px;
  color: rgb(188, 188, 188);
  transition: 0.15s;
  white-space: nowrap;
  text-overflow: clip;
}
li:hover {
  border-bottom: solid rgb(110, 0, 0) 2px;
}
#about {
  position: relative;
  top: 200px;
  left: 200px;
  max-width: 900px;
  padding-bottom: 300px;
}
span {
  line-height: 50px;
  display: block;
  margin-top: 150px;
  text-align: justify;

  /* max-width: 1000px; */
  color: rgb(188, 188, 188);
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 30px;
}
